@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
:root {
  height: 100%;
}

@layer base {
    :root {
      --background: 0 0% 97%; /* brown-300 */
      --foreground: 1 36% 29%; /* brown-500 */

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
   
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
   
      --border: 5 15% 86%; /* brown-100 */
      --input: 5 15% 86%;
   
      --primary: 1 36% 29%;
      --primary-foreground: 5 15% 86%; 
   
      --secondary: 56 100% 46%; /* gold-500 */
      --secondary-foreground: 56 85% 89%; /* gold-100 */
   
      --accent: 1 36% 29%;
      --accent-foreground:  56 100% 46%; /* gold-500 */
   
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 2 15% 57%; /* brown-300 */
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 0 36% 12%; /* brown-800 */ 
      --foreground: 5 15% 86%;
   
      --muted: 1 36% 29%;
      --muted-foreground:  5 15% 86%;
   
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
   
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
   
      --border: 56 87% 79%;
      --input: 56 87% 79%;
   
      --primary: 5 15% 86%;
      --primary-foreground: 1 36% 29%;
   
      --secondary: 56 85% 89%;
      --secondary-foreground: 56 100% 46%;
   
      --accent: 56 100% 46%;
      --accent-foreground: 0 36% 12%;
   
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 216 34% 17%;
   
      --radius: 0.5rem;
    }
}
   
@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
}
  
/* General styles */
.flex-center {
    @apply flex items-center justify-center;
}
  
.flex-between {
    @apply flex justify-between items-center;
}

/* Hero */
.hero-image {
    -webkit-mask-image: linear-gradient(
        rgba(99, 48, 47, 1),
        rgba(99, 48, 47, 0.5) 90%,
        rgba(99, 48, 47, 0)
    );
    mask-image: linear-gradient(
        rgba(99, 48, 47, 1),
        rgba(99, 48, 47, 0.5) 90%,
        rgba(99, 48, 47, 0)
    );
}

.three-d {
  text-shadow: 0px 3px 0px hsl(0 36% 12%);
}

.dark .three-d {
  text-shadow: 0px 3px 0px hsl(2 15% 57%);
}